.challenge-one {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to top right, coral, rgb(255, 193, 170));
}

.range-slider--content {
  padding: 10rem 2rem;
  text-align: center;
  max-width: 100rem;
  width: 100%;
}

.range-slider--input {
  appearance: none;
  outline: none;
  background: rgb(255, 234, 227);
  width: 100%;
  height: 2rem;
  border-radius: 1rem;
}

.range-slider--input::-moz-focus-inner {
  border: 0;
}

.range-slider--input::-webkit-slider-thumb {
  appearance: none;
  width: 15rem;
  height: 10rem;
  background: url("https://fanart.tv/fanart/tv/73615/hdtvlogo/corner-gas-581e4d71a95f4.png");
  background-size: cover;
  background-position: center center;
  border-radius: 1rem;
  cursor: pointer;
}

.range-slider--input::-moz-range-thumb {
  appearance: none;
  width: 15rem;
  height: 10rem;
  background: url("https://fanart.tv/fanart/tv/73615/hdtvlogo/corner-gas-581e4d71a95f4.png");
  background-size: cover;
  background-position: center center;
  border-radius: 1rem;
  cursor: pointer;
}

.range-slider--value {
  font-size: 5rem;
  padding-top: 5rem;
}