.hero {
  margin-top: 70px;
  position: relative;
  display: flex;
  height: 650px;
}

.hero--cta {
  width: 50%;
  background-color: #4a3b8b;
}

.hero--content {
  width: 518px;
  margin: 135px 0 0 200px;
  position: relative;
  z-index: 2;
}

.hero--heading {
  font-size: 64px;
  color: white;
  font-weight: 300;
  line-height: 80px;
  margin-bottom: 15px;
}

.hero--image {
  width: 50%;
  background-image: url(../images/computer-background.jpg);
  background-size: cover;
}
