.icon-row {
  background-color: #233046;
  height: 360px;
}

.icon-cont {
  height: 100%;
  width: 973px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  position: relative;
  z-index: 1;
}
