%button {
  outline: none;
  border: none;
  background: white;
  text-transform: uppercase;
  cursor: pointer;
  color: #707070;
}

.button {
  @extend %button;
  font-size: 26px;
  padding: 12px 50px;
  background: linear-gradient(215deg, transparent 15px, white 0);
}

.button--small {
  @extend %button;
  padding: 9px 32px;
  font-size: 20px;
  background: linear-gradient(225deg, transparent 5px, white 0);
}
