.icon-single {
  width: 271px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  img {
    margin: 0 auto 28px;
  }
  h2 {
    font-size: 32px;
    margin-bottom: 9px;
    font-weight: 300;
    text-transform: uppercase;
  }
  p {
    font-size: 20px;
  }
}
